@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3c032;
    overflow-x: hidden;
}

.text-bubble{
    background-color: #faf7e4;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border-radius: 30px;
    margin: auto;
    position: relative; 
}

.text-bubble::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 50px;
    height: 120px;
    background-color: #faf7e4;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-115deg);
}

.title{
    font-weight: 600;
    font-size: 60px;
    
}

.red{
    background-color: #ed5835;
}

.red h1{
    width: 1000px;
    font-weight: 700;
    font-size: 35px;
    color:#faf7e4;
    text-align: center;
}

.red h2{
    width: 800px;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #faf7e4;
}

.pink{
    background-color: #ffc6db;
}

.pink h1{
    width: 1000px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color:#e73b14;
}

.pink h2{
    width: 800px;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #ed5835;
}

.final{
    background-color: #faf7e4;
    min-height: 2050px;
    padding: 0 10px;
}

.final p{
    width: 600px;
    line-height: 1.7;
}

.final h1{
    font-weight: 600;
    font-size: 60px;
}

.text-left{
    background-color: #f3c032;
    text-align: center;
    justify-content: left;
    align-items: left;
    padding: 20px;
    border-radius: 30px;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 80px;
    position: relative;
}

.text-left::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -30px;
    width: 30px;
    height: 60px;
    background-color: #f3c032;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-115deg);
}


.text-right{
    background-color: #f3c032;
    text-align: center;
    justify-content: right;
    align-items: right;
    padding: 20px;
    border-radius: 30px;
    margin-right: 60px;
    margin-left: auto; 
    margin-top: 80px;
    position: relative;
}

.text-right::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -30px;
    width: 30px;
    height: 60px;
    background-color: #f3c032;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(115deg);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #faf7e4;
}

footer {
    height: 10vh;
    padding: 1rem;
    background-color: #faf7e4;
  }
  
  footer p {
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
  
    .container {
      overflow-x: auto;
    }
  
    .title {
      font-size: 30px;
    }
  
    .text-bubble, .text-left, .text-right {
      padding: 30px; 
    }

    .text-bubble::after{
        width: 25px;
        height: 60px;
    }
  
    .red h1, .pink h1 {
      font-size: 28px;
      width: 380px;
    }
  
    .red h2, .pink h2 {
      font-size: 18px;
      width: 350px;
    }
  
    .final p {
      width: auto;
    }
  
    .final h1 {
      font-size: 40px;
    }
  
    .text-left::after, .text-right::after {
      bottom: -10px;
      height: 60px;
      width: 20px;
    }
  }